body {
    margin: 0;
    background: #ffffff;
    color: #222;
    font-family: "Georgia", serif;
}


header {
    text-align: center;
    padding: 55px 20px 40px;
    border-bottom: 1px solid #ddd;
}


header h1 {
    font-size: 52px;
    font-weight: normal;
    margin: 0;
    letter-spacing: 1px;
}


header p {
    margin-top: 12px;
    font-size: 21px;
    color: #555;
}



nav {
    text-align: center;
    padding: 18px;
    border-bottom: 1px solid #ddd;
}


nav a {
    text-decoration: none;
    color: #222;
    margin: 0 20px;
    font-size: 16px;
}


nav a:hover {
    color: #8a6d2f;
}



.intro {
    text-align: center;
    padding: 70px 20px;
}


.intro h2 {
    font-size: 34px;
    font-weight: normal;
}


.intro p {
    max-width: 600px;
    margin: auto;
    line-height: 1.7;
    font-size: 18px;
}



input {
    margin-top: 35px;
    width: 55%;
    padding: 16px;
    border: 1px solid #ccc;
    font-size: 16px;
}



section {
    max-width: 1000px;
    margin: auto;
    padding: 45px 20px;
}


section h2 {
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 35px;
}



.collections {
    display: flex;
    justify-content: center;
    gap: 30px;
}


.collections div {
    width: 250px;
    padding: 30px;
    border-top: 2px solid #8a6d2f;
    background: #fafafa;
    text-align: center;
}


.collections h3 {
    font-size: 24px;
    font-weight: normal;
}



.topics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}


.topics span {
    border: 1px solid #ccc;
    padding: 14px 25px;
    background: white;
}



.new {
    text-align: center;
    padding: 40px;
    border: 1px solid #ddd;
}



.memory {
    border-top: 1px solid #ddd;
}


.memory-content {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}


.photo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}



footer {
    text-align: center;
    padding: 35px;
    background: #111;
    color: white;
}
